<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Savini</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

  <!-- Favicon -->
  {% load static %}

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}" />
  
  <!-- PLUGINS CSS STYLE -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/themify-icons/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/slick/slick-theme.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/fancybox/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/aos/aos.css' %}">

  <!-- CUSTOM CSS -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">


	<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
		<div class="container">
		  <a class="navbar-brand" href="#"><img src="{% static 'images/logo1.png'%}" alt="logo"></a> 
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="ti-menu"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
			  
			  <li class="nav-item dropdown ">
				<a class="nav-link dropdown-toggle" href="{% url '' %}">Home</a>
			  </li>
	  
			  <li class="nav-item dropdown @@pages">
				<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Services
				  <span><i class="ti-angle-down"></i></span>
				</a>
				<!-- Dropdown list -->
				<ul class="dropdown-menu">
				  <li><a class="dropdown-item @@team" href="{% url 'dashboard' %}">Password Strength Checker</a></li>
				  <li><a class="dropdown-item @@career" href="{% url 'suggester' %}">Random Password Generator</a></li>
				  <li><a class="dropdown-item @@blog" href="{% url 'safe' %}">Passwords Safe</a></li>
				  <li><a class="dropdown-item @@FAQ" href="{% url 'FAQ' %}">FAQs</a></li>
				</ul>
			  </li>
			  <li class="nav-item active @@about">
				<a class="nav-link" href="{% url 'about' %}">About</a>
			  </li>
			  <li class="nav-item @@contact">
				<a class="nav-link" href="{% url 'contact' %}">Contact</a>
			  </li>
			</ul>
		  </div>
		</div>
	  </nav>

<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>About Savini</h1>
				<!-- Page Description -->
				<p>Our website is dedicated to help users check the strength of their passwords, generate random strong passwords and securily save them in our servers out of the reach of bad people.</p>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->


<!--===============================
=            Our Story            =
================================-->
<section class="section about p-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 align-self-center">
				<div class="content text-center text-lg-left">
					<!-- Headline -->
					<h2>This is our story.</h2>
					<!-- Story -->
					<p>Our journey began with a simple goal: to enhance online security. Driven by innovation, we created a platform offering password strength checking, random password generation, and secure storage. Our story is one of dedication to user privacy and convenience, shaping the future of digital security.</p>
				</div>
			</div>
			<div class="col-lg-6 mt-4 mt-lg-0">
				<!-- Story Image Slider -->
				<div class="about-slider">
					<!-- Story Image -->
					<div class="item">
						<img class="w-100" src="{% static 'images/about/story-slider-01.jpg'%}" alt="slider-image">
					</div>
					<!-- Story Image -->
					<div class="item">
						<img class="w-100" src="{% static 'images/about/story-slider-01.jpg'%}" alt="slider-image">
					</div>
					<!-- Story Image -->
					<div class="item">
						<img class="w-100" src="{% static 'images/about/story-slider-01.jpg'%}" alt="slider-image">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Our Story  ====-->

<!--================================
=            Behind Story          =
=================================-->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title mb-0">
					<h2>Why we created Savini </h2>
					<p>We developed this multifaceted website to empower users with comprehensive password management solutions, including robust features such as password strength checking, random password generation, and secure password storage. Our goal is to enhance online security and simplify password management, ensuring users can navigate the digital landscape with confidence and peace of mind.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Behind Story  ====-->


<!--=====================================
=            Quotes Slider              =
======================================-->
<section class="section quotes pt-0">
	<div class="container">
		<div class="row">
			<div class="col-10 m-auto text-center">
				<div class="quote-slider">
					<div class="item mb-4">
						<!-- Quote -->
						<h2>Treat your password like your toothbrush. Don't let anybody else use it, and get a new one every six months.</h2>
						<!-- Company -->
						<cite class="ml-0">-Clifford Stoll</cite>
					</div>
					<div class="item mb-4">
						<!-- Quote -->
						<h2>Never rely on your password alone. 
							All reputable platforms today should support multi-factor authentication.</h2>
						<!-- Company -->
						<cite class="ml-0">-Wes Spencer</cite>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Quotes Slider  ====-->

<!--============================
=            Footer            =
=============================-->
<footer>
	<div class="footer-main">
	  <div class="container">
		<div class="row">
		  <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
			<div class="block">
			  <a href="{% url '' %}"><img src="{% static 'images/logoblack1rm.png'%}" alt="logo"></a>
			  <!-- Social Site Icons -->
			  <ul class="social-icon list-inline">
				<li class="list-inline-item">
				  <a href="https://www.facebook.com/"><i class="ti-facebook"></i></a>
				</li>
				<li class="list-inline-item">
				  <a href="https://twitter.com/"><i class="ti-twitter"></i></a>
				</li>
				<li class="list-inline-item">
				  <a href="https://www.instagram.com/"><i class="ti-instagram"></i></a>
				</li>
			  </ul>
			</div>
		  </div>
		  <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
			<div class="block-2">
			  <!-- heading -->
			  <h6>Services</h6>
			  <!-- links -->
			  <ul>
				<li><a href="{% url 'dashboard' %}">Password Strength Checker</a></li>
				<li><a href="{% url 'suggester' %}">Random Password Generator</a></li>
				<li><a href="{% url 'safe' %}">Passwords Safe</a></li>
			  </ul>
			</div>
		  </div>
		  <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
			<div class="block-2">
			  <!-- heading -->
			  <h6>Join Us</h6>
			  <!-- links -->
			  <ul>
				<li><a href="{% url 'register' %}">Singup</a></li>
				<li><a href="{% url 'my-login' %}">Login</a></li>
				<li><a href="{% url 'FAQ' %}">FAQs</a></li>
			  </ul>
			</div>
		  </div>
		  
		  <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
			<div class="block-2">
			  <!-- heading -->
			  <h6>Company</h6>
			  <!-- links -->
			  <ul>
				<li><a href="{% url 'about' %}">About</a></li>
				<li><a href="{% url 'contact' %}">Contact</a></li>
				<li><a href="{% url 'team' %}">Team</a></li>
				<li><a href="{% url 'privacy-policy'%}">Privacy Policy</a></li>
			  </ul>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="text-center bg-dark py-4">
	  <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by Us</small class="text-secondary">
	</div>
  </footer>


  <!-- To Top -->
  <div class="scroll-top-to">
    <i class="ti-angle-up"></i>
  </div>
  
<!-- JAVASCRIPTS -->
<script src="{% static 'plugins/jquery/jquery.min.js'%}"></script>
<script src="{% static 'plugins/bootstrap/bootstrap.min.js'%}"></script>
<script src="{% static 'plugins/slick/slick.min.js'%}"></script>
<script src="{% static 'plugins/fancybox/jquery.fancybox.min.js'%}"></script>
<script src="{% static 'plugins/syotimer/jquery.syotimer.min.js'%}"></script>
<script src="{% static 'plugins/aos/aos.js'%}"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
<script src="plugins/google-map/gmap.js"></script>

<script src="{% static 'js/script.js'%}"></script>
</body>

</html>