<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Savini</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">


  <!-- Favicon -->
  {% load static %}

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}" />
  
  <!-- PLUGINS CSS STYLE -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/themify-icons/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/slick/slick-theme.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/fancybox/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/aos/aos.css' %}">

  <!-- CUSTOM CSS -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">


	<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
		<div class="container">
		  <a class="navbar-brand" href="#"><img src="{% static 'images/logo1.png'%}" alt="logo"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="ti-menu"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
			  
			  <li class="nav-item dropdown ">
				<a class="nav-link dropdown-toggle" href="{% url '' %}" >Home</a>
			  </li>
	  
			  <li class="nav-item dropdown @@pages">
				<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Services
				  <span><i class="ti-angle-down"></i></span>
				</a>
				<!-- Dropdown list -->
				<ul class="dropdown-menu">
				  <li><a class="dropdown-item @@team" href="{% url 'dashboard' %}">Password Strength Checker</a></li>
				  <li><a class="dropdown-item @@career" href="{% url 'suggester' %}">Random Password Generator</a></li>
				  <li><a class="dropdown-item @@blog" href="{% url 'safe' %}">Passwords Safe</a></li>
				  <li><a class="dropdown-item @@FAQ" href="{% url 'FAQ' %}">FAQs</a></li>
				</ul>
			  </li>
			  <li class="nav-item @@about">
				<a class="nav-link" href="{% url 'about' %}">About</a>
			  </li>
			  <li class="nav-item active @@contact">
				<a class="nav-link" href="{% url 'contact' %}">Contact</a>
			  </li>
			</ul>
		  </div>
		</div>
	  </nav>

<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>Our Team</h1>
				<!-- Page Description -->
				<p>Meet our dedicated and skilled team, committed to delivering innovative solutions and exceptional service.</p>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->

<!--=================================
=            Design Team            =
==================================-->
<section class="design-team section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Design Team</h2>
					<p>Explore the creative minds behind our design team, shaping visions into captivating digital experiences.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
<div class="team-sm">
	<!-- Team Member Image -->
	<div class="image">
		<img class="w-100" src="{% static 'images/team/sarra.jpeg'%}" alt="member-image">
		<!-- Social Contacts -->
		<div class="social-links">
			<ul class="list-inline">
				<li class="list-inline-item"><a href="https://www.facebook.com/sarra.azaiez.3"><i class="ti-facebook"></i></a></li>
				<li class="list-inline-item"><a href="https://www.instagram.com/sarrah_azaiez/"><i class="ti-instagram"></i></a></li>
			</ul>
		</div>
	</div>
	<!-- Name -->
	<h3>Sarra Azaiez</h3>
	<!-- Position -->
	<cite>Designer</cite>
	<!-- Description -->
	<p>Sarra brings a fresh perspective to every project, fusing innovation with aesthetics to craft designs that captivate and resonate with audiences.</p>
</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
<div class="team-sm">
	<!-- Team Member Image -->
	<div class="image">
		<img class="w-100" src="{% static 'images/team/eya.jpeg'%}" alt="member-image">
		<!-- Social Contacts -->
		<div class="social-links">
			<ul class="list-inline">
				<li class="list-inline-item"><a href="https://www.facebook.com/eya.der.378"><i class="ti-facebook"></i></a></li>
				<li class="list-inline-item"><a href="https://www.linkedin.com/in/eya-derbeli-47311522a/"><i class="ti-linkedin"></i></a></li>
			</ul>
		</div>
	</div>
	<!-- Name -->
	<h3>Eya Derbeli</h3>
	<!-- Position -->
	<cite>Designer</cite>
	<!-- Description -->
	<p>Eya transforms concepts into captivating visuals, infusing each design with a touch of elegance and sophistication.</p>
</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
<div class="team-sm">
	<!-- Team Member Image -->
	<div class="image">
		<img class="w-100" src="{% static 'images/team/aya.jpeg'%}" alt="member-image">
		<!-- Social Contacts -->
		<div class="social-links">
			<ul class="list-inline">
				<li class="list-inline-item"><a href="https://www.facebook.com/profile.php?id=100085545180108"><i class="ti-facebook"></i></a></li>
				<li class="list-inline-item"><a href="https://www.linkedin.com/in/eya-ghannouchi-952923225/"><i class="ti-linkedin"></i></a></li>
			</ul>
		</div>
	</div>
	<!-- Name -->
	<h3>Aya Ghannouchi</h3>
	<!-- Position -->
	<cite>Designer</cite>
	<!-- Description -->
	<p>Aya's design philosophy revolves around simplicity and clarity, ensuring seamless user interactions and delightful experiences.</p>
</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Design Team  ====-->

<!--=================================
=           Development Team        =
==================================-->
<section class="design-team section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Development Team</h2>
					<p>Meet the backbone of our website - our dedicated development team, tirelessly working behind the scenes to ensure a seamless online experience.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
<div class="team-sm">
	<!-- Team Member Image -->
	<div class="image">
		<img class="w-100" src="{% static 'images/team/bg.jpg'%}" alt="member-image">
		<!-- Social Contacts -->
		<div class="social-links">
			<ul class="list-inline">
				<li class="list-inline-item"><a href="https://www.facebook.com/karimbenamar01/"><i class="ti-facebook"></i></a></li>
				<li class="list-inline-item"><a href="https://www.linkedin.com/in/karim-ben-amar/"><i class="ti-linkedin"></i></a></li>
			</ul>
		</div>
	</div>
	<!-- Name -->
	<h3>Karim Ben Amar</h3>
	<!-- Position -->
	<cite>Developer</cite>
	<!-- Description -->
	<p>The coding virtuoso who thrives on turning complex ideas into elegant solutions, with a knack for back-end wizardry that keeps our website running smoothly.</p>
</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- Team -->
<div class="team-sm">
	<!-- Team Member Image -->
	<div class="image">
		<img class="w-100" src="{% static 'images/team/ali.jpeg'%}" alt="member-image">
		<!-- Social Contacts -->
		<div class="social-links">
			<ul class="list-inline">
				<li class="list-inline-item"><a href="https://www.facebook.com/ali.abdelmouleh"><i class="ti-facebook"></i></a></li>
				<li class="list-inline-item"><a href="https://www.linkedin.com/in/ali-abdelmouleh-b3866214a/"><i class="ti-linkedin"></i></a></li>
			</ul>
		</div>
	</div>
	<!-- Name -->
	<h3>Ali Abdelmouleh</h3>
	<!-- Position -->
	<cite>Developer</cite>
	<!-- Description -->
	<p>With an eye for detail and a passion for innovation, Ali brings expertise in front-end development, crafting user-centric experiences that captivate and delight.</p>
</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<!-- Team -->

			</div>
		</div>
	</div>
</section>
<!--====  End of Marketing Team  ====-->


<!--============================
=            Footer            =
=============================-->
<footer>
	<div class="footer-main">
	  <div class="container">
		<div class="row">
		  <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
			<div class="block">
			  <a href="{% url '' %}"><img src="{% static 'images/logoblack1rm.png'%}" alt="logo"></a>
			  <!-- Social Site Icons -->
			  <ul class="social-icon list-inline">
				<li class="list-inline-item">
				  <a href="https://www.facebook.com/"><i class="ti-facebook"></i></a>
				</li>
				<li class="list-inline-item">
				  <a href="https://twitter.com/"><i class="ti-twitter"></i></a>
				</li>
				<li class="list-inline-item">
				  <a href="https://www.instagram.com/"><i class="ti-instagram"></i></a>
				</li>
			  </ul>
			</div>
		  </div>
		  <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
			<div class="block-2">
			  <!-- heading -->
			  <h6>Services</h6>
			  <!-- links -->
			  <ul>
				<li><a href="{% url 'dashboard' %}">Password Strength Checker</a></li>
				<li><a href="{% url 'suggester' %}">Random Password Generator</a></li>
				<li><a href="{% url 'safe' %}">Passwords Safe</a></li>
			  </ul>
			</div>
		  </div>
		  <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
			<div class="block-2">
			  <!-- heading -->
			  <h6>Join Us</h6>
			  <!-- links -->
			  <ul>
				<li><a href="{% url 'register' %}">Singup</a></li>
				<li><a href="{% url 'my-login' %}">Login</a></li>
				<li><a href="{% url 'FAQ' %}">FAQs</a></li>
			  </ul>
			</div>
		  </div>
		  
		  <div class="col-lg-2 col-md-3 col-6 mt-5 mt-lg-0">
			<div class="block-2">
			  <!-- heading -->
			  <h6>Company</h6>
			  <!-- links -->
			  <ul>
				<li><a href="{% url 'about' %}">About</a></li>
				<li><a href="{% url 'contact' %}">Contact</a></li>
				<li><a href="{% url 'team' %}">Team</a></li>
				<li><a href="{% url 'privacy-policy'%}">Privacy Policy</a></li>
			  </ul>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="text-center bg-dark py-4">
	  <small class="text-secondary">Copyright &copy; <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by Us</small class="text-secondary">
	</div>
  </footer>


  <!-- To Top -->
  <div class="scroll-top-to">
    <i class="ti-angle-up"></i>
  </div>
  
<!-- JAVASCRIPTS -->
<script src="{% static 'plugins/jquery/jquery.min.js'%}"></script>
<script src="{% static 'plugins/bootstrap/bootstrap.min.js'%}"></script>
<script src="{% static 'plugins/slick/slick.min.js'%}"></script>
<script src="{% static 'plugins/fancybox/jquery.fancybox.min.js'%}"></script>
<script src="{% static 'plugins/syotimer/jquery.syotimer.min.js'%}"></script>
<script src="{% static 'plugins/aos/aos.js'%}"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
<script src="plugins/google-map/gmap.js"></script>

<script src="{% static 'js/script.js'%}"></script>
</body>

</html>